* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: IranSans, Tahoma, verdana, sans-serif;
 
}
@font-face {
  font-family: IranSans;
  src: url("../assets/fonts/IRANSansLight.woff");
  src: url("../assets/fonts/IRANSansWeb-Light.woff");
  src: url("../assets/fonts/IRANSansWeb-Light.woff2");
}

.container {
  
  margin: 0 auto;
}

header {
  width: 100%;
  background-image: url("https://www.golestan.com/wp-content/uploads/2023/01/header-back-1.png");
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: sticky;
  top: 0;
  z-index: 9999;
  img {
    position: relative;
    top: 50px;
  }
  nav {
    display: flex;
    .menu__item {
      color:#Afb2b4;
      text-decoration: none;
      border-left: 1px solid white;
      padding: 0 10px;
      position: relative;
      cursor: pointer;
      .sub__menu {
        position: absolute;
        right: 0;
        display: none;
        flex-direction: column;
        background-color: #2b2b2b;

        .sub__menu__item {
          padding: 10px 25px;
          white-space: nowrap;
          text-decoration: none;
          color: lightgray;
          &:hover {
            color: #FFFFFF; ;
          }
        }
      }

      &:hover {
        .sub__menu {
          display: flex;
        }
      }
    }
    .menu__item:hover{
      color:#FFFFFF;
    }
  }
}
.veblog{
display:flex;
align-items: center;
margin: 0 auto;
padding-left: 300px;


.vebloginfo{
  color: red;
  
}
}
.container{
  padding: 100px;
}
.veblog__title {
  color: red;
}

.cards {
  margin: 5% auto;
  max-width: 1200px;
  padding: 25px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
  .cards{
  background-color: rgb(240, 253, 253);
  }
 
  .card {
    width: 320px;
    background-color: white;
    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
    }
    .card__info {
      padding: 20px;
      h3,
      p,
      button {
        margin-top: 20px;
      }
      p {
        text-align: justify;
        line-height: 30px;
        height: 130px;
        color: rgb(153, 148, 148);
      }
      h3 {
        font-size: larger;
        color: rgb(255, 13, 61);
      }
      button {
          padding: 7px 20px;
          border: 1px solid #7e7c7c70;
          font-size: 14px;
          font-weight: 100;
          line-height: 26px;
          font-family: "IranSans";
          border-radius: 5px;
          background-color: white;
          color: #7c7d7e;
          transition: 0.25s all ease;
          &:hover {
            background-color: #ff0000;
            color: #fff;
            border: 1px solid #ff0000;
          }
        }
        }
      }
    
  
  

.soshial {
  width: 100%;
  height: 95px;
  background-color: #eeefef;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 100ms ease-in;
  .soshialbox {
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
  .facebookeicon {
    background-image: url(../icon/image/facebook.png);
    &:hover {
      background-image: url(../icon/image/facebookcolor.png);
    }
  }
  .linkdinicon {
    background-image: url(../icon/image/linkdin.png);
    &:hover {
      background-image: url(../icon/image/linkdincolor.png);
    }
  }
  .instagramicon {
    background-image: url(../icon/image/instagram.png);
    &:hover {
      background-image: url(../icon/image/instagramcolor.png);
    }
  }
  .telegramicon {
    background-image: url(../icon/image/telegram.png);
    &:hover {
      background-image: url(../icon/image/telegramcolor.png);
    }
  }
  .aparaticon {
    background-image: url(../icon/image/aparat.png);
    &:hover {
      background-image: url(../icon/image/aparatcolor.png);
    }
  }
  .glicon {
    background-image: url(../icon/image/gl.png);
    &:hover {
      background-image: url(../icon/image/glcolor.png);
    }
  }
}

.icon{
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 20PX;
  a {
    text-decoration: none;
  }
  hr{
    color: #4a4a4a;
    
    width: 300px;
    height: 1.5px;
   
  
      }
  h2{
    color: #FFFF;
    padding: 10PX;
    
  }
  p{
    color: #bcbecb;
    padding: 2PX;
    padding-bottom: 10px;
    &:hover {
      color: white;
     
     
    }}}
 
 .end{
  display: flex;
  flex-direction: column;
 
  align-items: center;
  background-color: black;
  h2,p{
    color:#9F9F9F;
 
    
  }
 }