* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: IranSans, Tahoma, verdana, sans-serif;
  height: 400vh;
}
@font-face {
  font-family: IranSans;
  src: url("../assets/fonts/IRANSansLight.woff");
  src: url("../assets/fonts/IRANSansWeb-Light.woff");
  src: url("../assets/fonts/IRANSansWeb-Light.woff2");
}

header {
  width: 100%;
  background-image: url("https://www.golestan.com/wp-content/uploads/2023/01/header-back-1.png");
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: fixed;
  top: 0;
  z-index: 9999;
  img {
    position: relative;
    top: 50px;
  }
  nav {
    display: flex;
    .menu__item {
      color:#Afb2b4;
      text-decoration: none;
      border-left: 1px solid white;
      padding: 0 10px;
      position: relative;
      cursor: pointer;
      .sub__menu {
        position: absolute;
        right: 0;
        display: none;
        flex-direction: column;
        background-color: #2b2b2b;

        .sub__menu__item {
          padding: 10px 25px;
          white-space: nowrap;
          text-decoration: none;
          color: lightgray;
          &:hover {
            color: #FFFFFF; ;
          }
        }
      }

      &:hover {
        .sub__menu {
          display: flex;
        }
      }
    }
    .menu__item:hover{
      color:#FFFFFF;
    }
  }
}
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 100px;
    background-image: linear-gradient(to right, white, rgb(226, 221, 221));
    padding-top: 150px;
    .banner-image{
      img{
        width: 300px;
      }
      
    }
    .banner-info {
      width: 450px;
      h2,
      h3 {
        padding-right: 80px;
      }
      h2 {
        color: rgb(243, 11, 58);
      }
      h3 {
        color: rgb(65, 63, 63);
      }
    }
  }
  .baner-text {
    max-width: 700px;
    margin: 50px auto;
    h1,
    p {
      margin-top: 10px;
    }
    span {
      color: red;
    }
    h1 {
      color: red;
      font-size: large;
    }
    p {
      text-align: justify;
      color: gray;
      line-height: 40px;
    }
  }
  @keyframes banner-move {
    from {
      top: -500px;
    }
    to {
      top: 0;
    }
  }
  
  @keyframes info-move {
    from {
      top: -300px;
    }
    to {
      top: 0;
    }
  
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  
  .banner-image {
    position: relative;
    animation: banner-move 2s;
  }
  
  .banner-info p {
    position: relative;
    animation: info-move 2s;
  }
.product{
  text-align: center;
  padding: 20px;
}
.image{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  font-size: 30px;
 margin-right: 30px;
}
.squres{
display: flex;
justify-content: center;
margin: 20px 0;

}
.squre{
  width: 80px;
  height: 80px;
  background-color: azure;
  
}
.spacer{
  height: 100px;
}

.product{
  width: 700px;
  margin: 0 auto;
  margin-bottom:100px;
}

.product-box{
  display: flex;
}

.box-image {
  width: 213px;

  .first-box-image-img {
    width: 213px;
  }
}

.box-info {
  .box-header{
    display: flex;
    align-items: end;

    h3 {
      color: #FF0000;
      font-size: 22px;
      font-weight: 300;
    }
  }

  .box-option{
    display: flex;
    margin: 15px 10px;
    justify-content: space-between;
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
    align-items: center;
    padding: 5px 0;

    img{
      width: 50px;
      height: 45px;
    }

    h6{
      font-size: 16px;
      color: #52575B;
    }

    .box-option-images{
      display: flex;
      align-items: center;
      gap:5px;
    }
  }
}


.box-description{
  color: #97949A;
  font-size: 16px;
  text-align: right;
  font-weight: 400;
  line-height: 35px;
}

.box-button {
  display: flex;
  margin-top: 25px;

  button{
    border: 1px solid #cbcbcb;
    padding: 5px 15px;
    font-family: 'IranSans';
    color: #7C7D7E;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    transition: 0.1s;
  }

  button:hover{
    color: #fff ;
    background-color:#ED1C24 ;
    border-color: #ED1C24 ;
  }
}
.soshial {
  width: 100%;
  height: 95px;
  background-color: #eeefef;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  transition: all 100ms ease-in;
  .soshialbox {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    transition: all 100ms ease-in;
  }
  .facebookeicon {
    background-image: url(../icon/image/facebook.png);
    &:hover {
      background-image: url(../icon/image/facebookcolor.png);
    }
  }
  .linkdinicon {
    background-image: url(../icon/image/linkdin.png);
    &:hover {
      background-image: url(../icon/image/linkdincolor.png);
    }
  }
  .instagramicon {
    background-image: url(../icon/image/instagram.png);
    &:hover {
      background-image: url(../icon/image/instagramcolor.png);
    }
  }
  .telegramicon {
    background-image: url(../icon/image/telegram.png);
    &:hover {
      background-image: url(../icon/image/telegramcolor.png);
    }
  }
  .aparaticon {
    background-image: url(../icon/image/aparat.png);
    &:hover {
      background-image: url(../icon/image/aparatcolor.png);
    }
  }
  .glicon {
    background-image: url(../icon/image/gl.png);
    &:hover {
      background-image: url(../icon/image/glcolor.png);
    }
  }
}
.icon{
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 20PX;
  a {
    text-decoration: none;
  }
  hr{
    color: #4a4a4a;
    
    width: 300px;
    height: 1.5px;
   
  
      }
  h2{
    color: #FFFF;
    padding: 10PX;
    
  }
  p{
    color: #bcbecb;
    padding: 2PX;
    padding-bottom: 10px;
    &:hover {
      color: white;
     
     
    }}}
 
 .end{
  display: flex;
  flex-direction: column;
 
  align-items: center;
  background-color: black;
  h2,p{
    color:#9F9F9F;
 
    
  }
 }
